.share-button {
  width: 160px;
  height: 48px;
  color: white;
  
  border-radius: 10px;
  text-shadow: 0 0 1px black;
  font-size: large;

  background: #0d6efd;  
  border: 1px solid #0d6efd;
  box-shadow: 0px 0px 0 #0d6efd, 1px 1px 4px #0d6dfd73;
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;

  padding: 4px;
  margin: 4px;
}

