.steam-app-title {
    opacity: 0;
    width: 100%;
}

.steam-app-title:hover {
    opacity: inherit;
}

.btn-primary {
    min-width: 240px;
    padding: 8px;
}

.screenshot{
    max-width: 100%;    
    max-height: 800px;
}