.flex-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 1600px;
  align-items: stretch;
  padding: 8px;
}

.flex-column-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-width: 1600px;
  margin: auto;
  align-items: stretch;
}

.flex-item {
  flex-grow: 1;
}

.flex-image-item {
  flex-grow: 2;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}

.buttons-block {
  flex-wrap: wrap;
  background-color: rgb(27 40 56 / 100%);
  width: 100%;
  padding: 8px;
  min-height: 200px;
  max-height: 400px;
  box-shadow: 0 0 8px 0 rgb(23 26 33);
}

.buttons-block > .flex-item {
  flex-basis: 40%;
  flex-grow: 1;
  margin: 8px;
}

.screenshot {
  box-shadow: 0 0 8px 0 rgb(23 26 33);
  object-fit: contain;
  max-width: 100%;
  max-height: calc(100% - 200px);
}

.shown-game {
  font-size: medium;
  text-align: left;
}

ul {
  margin-right: 8px;
  list-style-type: decimal;
}
