.steam-app-title {
  opacity: 0%;
  width: 100%;
}

.steam-app-title:hover {
  opacity: inherit;
}

.option-btn {  
    min-width: 320px;    
    margin: 4px;        
    flex-grow: 2;   
}

.btn-primary {
  /*    */
  /* color: #C7D5E0; */  
  min-height: 62px;
  color: white;
  text-shadow: 0px 0px 2px rgb(23, 26, 33);
  border-color:rgb(23, 26, 33);  
  background-color: #1D62D7;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border-color: #1D62D7; 
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  /* color: rgb(23, 26, 33); */
  background-color: #3A78E4; 
  border-color: #4B84E7;       
  box-shadow: 2px 2px 4px 0px rgb(23, 26, 33);  
  
}


.buttons-row{
    padding-left: 160px ;
    padding-right: 160px ;
    max-width: 100%;
}

.correct {
    background-color: #97CC04;
}

.incorrect {
    background-color: #F10472;
}

.base {
  background-color: #1D62D7;
}

.screenshot{    
  box-shadow: 0 0 8px 0px rgb(23, 26, 33);
  max-width:100%;
  max-height:100%;
  height: auto;  
}

.shown-game{
  font-size: small;
  text-align: left;  
}

ul{
  margin-right: 8px;
  list-style-type: decimal;
}