.score-block {
  min-width: 50%;
  background-color: rgb(0 0 0 / 10%);
  border-radius: 8px;
}

.shown-game {
  font-size: large;
}

.flex-container-result {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  max-width: 800px;
  margin: auto;
  align-items: center;
}

.play-again-button {
  margin: 8px;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: white;
  background: #6fa720;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
  text-shadow: 0 0 1px black;
  font-size: xx-large;
}

.glow-on-hover::before {
  content: "";
  background: linear-gradient(45deg, #f83a90, #b081ee, #00d8f5, #1d4e89, #00a2b8, #6fa720);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(8px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0%;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #6fa720;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: white;
}

.glow-on-hover:active::after {
  background: transparent;
}

.glow-on-hover:hover::before {
  opacity: 100%;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
