.icon {
  margin-right: 4px;
  vertical-align: middle;
  height: 0.9em;
  color: #f10472;
}

.shown-game {
    font-size: medium;
    text-align: start;
    margin-top: 0px;
    margin-bottom: 4px;
    vertical-align: middle;
}

.game-list {
    text-align: start;
    overflow: hidden;
    overflow-y: scroll;
}