a {
  color: #61dafb;
}

.main-template {
  position: relative;
  background: rgb(23 26 33);
  background:
    linear-gradient(
      135deg,
      rgb(23 26 33) 0%,
      rgb(42 71 94 / 100%) 35%,
      rgb(27 40 56 / 100%) 100%
    );
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  font-size: larger;
  color: white;
}

.content {
  width: 2000px;
  height: 90%;
  position: sticky;
  left: 0;
}

@media (max-width: 2000px) {
  .content {
    width: 1400px;
  }
}

@media (max-width: 1200px) {
  .content {
    width: 1000px;
  }
}

@media (max-width: 500px) {
  .content {
    width: 500px;
  }
}

h2 {
  font-size: large;
  color: white;
  font-family: "Motiva Sans", sans-serif;
  text-shadow: 0 0 2px rgb(23 26 33);
}

.logo-1 {
  color: white;
  animation: neon 3s infinite;
}

@keyframes neon {
  0% {
    text-shadow:
      -1px -1px 1px var(--shadow-color-light),
      -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light),
      1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light),
      0 0 10px var(--shadow-color-light),
      0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color),
      0 0 40px var(--shadow-color),
      0 0 50px var(--shadow-color),
      0 0 70px var(--shadow-color),
      0 0 100px var(--shadow-color),
      0 0 200px var(--shadow-color);
  }

  50% {
    text-shadow:
      -1px -1px 1px var(--shadow-color-light),
      -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light),
      1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light),
      0 0 15px var(--shadow-color-light),
      0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color),
      0 0 50px var(--shadow-color),
      0 0 60px var(--shadow-color),
      0 0 80px var(--shadow-color),
      0 0 110px var(--shadow-color),
      0 0 210px var(--shadow-color);
  }

  100% {
    text-shadow:
      -1px -1px 1px var(--shadow-color-light),
      -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light),
      1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light),
      0 0 10px var(--shadow-color-light),
      0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color),
      0 0 40px var(--shadow-color),
      0 0 50px var(--shadow-color),
      0 0 70px var(--shadow-color),
      0 0 100px var(--shadow-color),
      0 0 200px var(--shadow-color);
  }
}
